{
	"black":        "#{{base00-hex}}",
	"dark_blue":    "#{{base04-hex}}",
	"dark_green":   "#{{base02-hex}}",
	"dark_cyan":    "#{{base05-hex}}",
	"dark_red":     "#{{base09-hex}}",
	"dark_magenta": "#{{base0E-hex}}",
	"dark_yellow":  "#{{base03-hex}}",
	"gray":         "#{{base06-hex}}",
	"dark_gray":    "#{{base01-hex}}",
	"blue":         "#{{base0D-hex}}",
	"green":        "#{{base0B-hex}}",
	"cyan":         "#{{base0C-hex}}",
	"red":          "#{{base08-hex}}",
	"magenta":      "#{{base0F-hex}}",
	"yellow":       "#{{base0A-hex}}",
	"white":        "#{{base07-hex}}"
}
