{
	"black":        "#{{base00-hex}}",
	"dark_blue":    "#{{base08-hex}}",
	"dark_green":   "#{{base0B-hex}}",
	"dark_cyan":    "#{{base0A-hex}}",
	"dark_red":     "#{{base0D-hex}}",
	"dark_magenta": "#{{base0E-hex}}",
	"dark_yellow":  "#{{base0C-hex}}",
	"gray":         "#{{base06-hex}}",
	"dark_gray":    "#{{base03-hex}}",
	"blue":         "#{{base04-hex}}",
	"green":        "#{{base01-hex}}",
	"cyan":         "#{{base02-hex}}",
	"red":          "#{{base09-hex}}",
	"magenta":      "#{{base07-hex}}",
	"yellow":       "#{{base0F-hex}}",
	"white":        "#{{base05-hex}}"
}
